class {{ class_name }}Predicate extends {{ extends }}Predicate
{
    protected $binding = {{ is_binding }};
    protected $multiplicable = {{ is_multiplicable }};
    
    const T_CONSUMER = {{ is_consumer }};
    const T_NOTIFIER = {{ is_notifier }};
    const T_SUBSCRIBER = {{ is_subscriber }};
    const T_FORMATIVE = {{ is_formative }};
    const T_PERSISTENT = {{ is_persistent }};
}